.form-group{
    border-radius:  8px;
    padding: 1px;
    border: 1px solid;
}

.form-group:focus-within{
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}
.input-group-text,
.input-group{
   background: none;
   border: none!important;
}

input{
    border: none!important;
}
input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}